<!-- Logout form styled to match site theme.
 Loads the allauth logout confirmation -->
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}
{% load allauth account %}
{% block title %}
    {% trans "Sign Out" %}
{% endblock title %}
{% block content %}
    <section class="mt-3 mt-xxl-4 mb-3 mb-xxl-4 mx-auto" id="logout-section">
        <div class="glassmorphic p-5 pt-4 pb-4">
            <h2 class="mb-4 heading">{% trans "Sign Out" %}</h2>
            <p class="mb-4">{% blocktrans %}Are you sure you want to sign out?{% endblocktrans %}</p>
            <form class="login"
                  id="login_form"
                  method="post"
                  action="{% url 'account_logout' %}">
                {% csrf_token %}
                {{ form | crispy }}
                {% if redirect_field_value %}
                    <input type="hidden"
                           name="{{ redirect_field_name }}"
                           value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="btn account-button mt-2" type="submit">
                    <span class="unskew">{% trans "Sign Out" %} &raquo;</span>
                </button>
            </form>
        </div>
    </section>
{% endblock content %}
