<!-- Change password form styled to match site theme.
 Loads the allauth change password form form and links to password reset form. -->
{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}
{% load allauth account %}
{% block title %}
    {% trans "Change Password" %}
{% endblock title %}
{% block extra_js %}
    <script src="{% static 'js/cancel.js' %}"></script>
{% endblock extra_js %}
{% block content %}
    <section class="mt-3 mt-xxl-4 mb-3 mb-xxl-4 mx-auto" id="login-section">
        <div class="glassmorphic p-4 p-md-5 pt-md-4 pb-md-4">
            <h2 class="mb-3 heading">{% trans "Change Password" %}</h2>
            <p class="mb-4">
                {% blocktrans %}<a class="underline text-white" href="{{ reset_url }}">Forgot Password?</a>{% endblocktrans %}
            </p>
            <form class="login"
                  id="change_password"
                  method="post"
                  action="{% url 'account_change_password' %}">
                {% csrf_token %}
                {{ form | crispy }}
                {% if redirect_field_value %}
                    <input type="hidden"
                           name="{{ redirect_field_name }}"
                           value="{{ redirect_field_value }}" />
                {% endif %}

                <div class="d-flex flex-column flex-md-row gap-3 mt-4">
                    <button class="btn account-button w-100" type="submit">
                        <span class="unskew">Update Password &raquo;</span>
                    </button>
                    <!-- Link styled as a button so it doesn't interact with the form. -->
                    <button class="btn cancel w-100" type="button">
                        <span class="unskew">Cancel</span>
                    </button>
                </div>
            </form>
        </div>
    </section>
{% endblock content %}
