{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% load i18n %}
{% load allauth account %}
{% block title %}
    {% trans "Register" %}
{% endblock title %}

{% block content %}

    <section class="mt-3 mt-xxl-4 mb-3 mx-auto" id="signup-section">
        <div class="glassmorphic p-4">
            <h2 class="mb-3">{% trans "Register" %}</h2>
                   {% element p %}
            <p class="mb-4">{% blocktrans %}Already have an account? Then please <a class="underline hover:text-secondary-content" href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
                {% endelement %}
              <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                {% csrf_token %}
                {{ form | crispy }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="btn account-button mt-3" type="submit"><span class="unskew">{% trans "Register" %} &raquo;</span></button>
              </form>
        </div>
    </section>
    {% endblock content %}
