{% extends 'base.html' %}
{% load static %}
{% block title %}
    My profile
{% endblock title %}
{% block content %}
    <section id="view-profile-section" class="container mb-5 pb-4 gx-0">
        <!-- Row for heading -->
        <div class="row ms-xxl-6 me-xxl-6 mb-2">
            <div class="col-10 text-center mx-auto mt-3 pt-3 mt-md-4 glow mb-4"
                 id="profile-heading">
                <h2 class="heading">{{ user.get_display_name }}'s Profile</h2>
                <p>View and edit your details</p>
            </div>
        </div>
<!-- Profile details row -->
        <div class="row ms-xxl-6 me-xxl-6 mb-2 justify-content-center">
            <div class="col-10 mt-3 mt-md-4 glow mb-4 p-4 d-flex justify-content-center">
                <!-- Inner content row -->
                <div class="row">
                    <div class="col-12 gx-0 gy-0">
                        <p>Display name: {{ user.get_display_name }}</p>
                        <p>Username: {{ user.username }}</p>
                        <p>Email: {{ user.email }}</p>
                    </div>
                    <div class="col-12 gx-0 gy-0">
                        {% if user.first_name and user.last_name %}
                            <p>First Name: {{ user.first_name }}</p>
                            <p>Last Name: {{ user.last_name }}</p>
                        {% endif %}
                    </div>
                        <div class="col-12 d-flex justify-content-center">
                            <a href="{% url 'edit-profile' %}"
                               class="btn account-button mt-4"
                               type="submit"><span class="unskew">Edit-Profile &raquo;</span></a>
                        </div>
                    </div>
                </div>
        </div>
    </section>
{% endblock content %}
