{% extends "base.html" %}
{% load static %}
<!-- Dynamically sets the page title -->
{% block title %}Uh-Oh!{% endblock title %}
{% block content %}
    <section class="mt-4 mb-4 mx-auto p-md-4">
        <div class="glassmorphic p-4">
            <h2 class="heading mb-4">Oh Dear</h2>
                <p class="mb-4">You've stumbled into a multiversal glitch.</p> 
                <a href="{% url 'home' %}" class="btn account-button"><span class="unskew">Go Home</span></a>             
        </div>
    </section>
{% endblock content %}