{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Lucy Sears">
    <meta name="description" content="Duality: Legends Unchained is a collectible card app where you curate your ultimate team from across your favourite universes.">
    <meta name="keywords" content="collectibles, heroes, villains, multiverse">
    <title>
        {% block title %}
        Duality: Legends Unchained
        {% endblock title %}
    </title>
</head>
<body>
    <header>

    </header>
    <main>

{% block content %}
{% endblock content %}
    </main>
    <footer>

    </footer>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>