<!-- Cancellation screen - loads whenever a purchase has been cancelled during the stripe checkout.
 Passes through an error if there is one, loads generic cancellation text if not.-->
{% extends "base.html" %}
{% load static %}
<!-- Dynamically sets the page title -->
{% block title %}
    Purchase Cancelled
{% endblock title %}
{% block content %}
    <section class="mt-4 mb-4 mx-auto p-md-4">
        <div class="glassmorphic p-5 pt-4 pb-4">
            <h2 class=" heading mb-4">Purchase Cancelled.</h2>
            <p class="mb-4">
                {% if error %}
                    An error occurred. Your transaction has been cancelled.
                    <br>
                    {{ error }}
                {% else %}
                    Your transaction has been cancelled.
                {% endif %}
            </p>
            <a href="{% url 'shop' %}" class="btn buy-button cancel"><span class="unskew">Return to Shop</span></a>
        </div>
    </section>
{% endblock content %}
