<!--
This template renders the card-detail view after pressing the buy button in the shop.
-->
{% extends "base.html" %}
{% load static %}
<!-- Dynamically sets the page title -->
{% block title %}
    Confirm Purchase
{% endblock title %}
{% block extra_js %}
    <script src="{% static 'js/shop.js' %}"></script>
{% endblock extra_js %}
{% block content %}
    <section id="card-view" class="container mb-5 pb-4 gx-0">
        <!-- Centered title and text indicating the character about to be purchased -->
        <div class="row ms-xxl-6 ps-xxl-0 me-xxl-6 mb-2">
            <div class="col-md-8 col-xl-6 text-center mx-auto mt-3 mt-md-4"
                 id="shop-heading">
                <h2>Purchase {{ char.name }}?</h2>
                <p>Are you sure you want to continue?</p>
            </div>
        </div>
        <div class="col d-flex justify-content-center">
            <!-- Loader element shown while card-detail content is loading-->
            <div class="loader"></div>
        </div>
        <div class="row-cols-1 ms-xxl-6 me-xxl-6 gx-0">
            <div class="col ps-md-3 ps-lg-6 ps-xl-4 me-sm-0 pe-md-3 d-flex justify-content-center">
                <article class="card shop-card glassmorphic">
                    <!-- Character image dynamically loaded from the legends.json file -->
                    <img class="object-fit-cover card-img-top w-100 d-block"
                         src="{{ json.images.md }}"
                         width="auto"
                         height="400"
                         alt="{{ char.name }}"
                         loading="lazy">
                    <div class="card-front-banner glassmorphic">
                        <p class="universe">{{ universe }}</p>
                    </div>
                    <!-- Character name passed from the character model -->
                    <div class="card-body character-card-body d-flex flex-column align-items-center">
                        <!-- Badges showing the character's power total, rarity and alignment -->
                        <div class="mt-2 mt-xxl-3">
                            <span class="badge {{ char.rarity|lower }}">{{ char.rarity }} {{ power }}</span> <span class="badge {{ alignment|lower }} mb-2">Alignment: {{ alignment }}</span>
                        </div>
                        <!-- Character name passed from the character model -->
                        <div class="flex-grow-1 d-flex align-items-center justify-content-center">
                            <h3 class="text-center card-title">{{ char.name }}</h3>
                        </div>
                    </div>
                    <!-- Card footer only shows if logged in. Contains a buy and cancel button.  -->
                    {% if user.is_authenticated %}
                        <div class="card-footer d-flex flex-column flex-md-row gap-3 justify-content-center m-2">
                            <!-- Form that leads to a checkout session with Stripe -->
                            <form action="{% url 'create-checkout-session' char.id %}"
                                  method="post"
                                  class="d-flex flex-column flex-grow-1">
                                {% csrf_token %}
                                <button class="btn buy-button w-100" type="submit">
                                    <span class="unskew">Buy now £{{ char.rarity.price }}</span>
                                </button>
                            </form>
                            <div class="d-flex flex-column flex-grow-1">
                                <button class="btn cancel w-100">
                                    <span class="unskew">Cancel</span>
                                </button>
                            </div>
                        </div>
                    {% else %}
                    {% endif %}
                </article>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
