<!--
This template renders the card-detail view after pressing the buy button in the shop.


-->
{% extends "base.html" %}
{% load static %}
<!-- Dynamically sets the page title -->
{% block title %}Confirm Purchase{% endblock title %}
{% block extra_js %}
<script src="{% static 'js/shop-script.js' %}"></script>
{% endblock extra_js %}
{% block content %}
<section id="card-view" class="container mb-5 pb-4 gx-0">
    <!-- Centered title and text indicating the character about to be purchased -->
    <div class="row ms-xxl-6 ps-xxl-0 me-xxl-6 mb-2">
        <div class="col-md-8 col-xl-6 text-center mx-auto mt-3 mt-md-4" id="shop-heading">
            <h2>Purchase {{ char.name }}?</h2>
            <p>Are you sure you want to continue?</p>
        </div>
    </div>
    <div class="col d-flex justify-content-center">
        <!-- Loader element shown while card-detail content is loading-->
        <div class="loader"></div>
    </div>

    <div class="row-cols-1  ms-xxl-6 me-xxl-6 gx-0">
        <div class="col ps-md-3 ps-lg-6 ps-xl-4 me-sm-0 pe-md-3 d-flex justify-content-center">
            <div class="card shop-card">
                <!-- Character image dynamically loaded from the legends.json file -->
                <img class="object-fit-cover card-img-top w-100 d-block" src="{{ json.images.lg }}" width="auto"
                    height="400" alt="{{ char.name }}">
                <div class="card-body p-4">
                    <!-- Character name passed from the character model -->
                    <h2 class="text-center card-title">{{ char.name }}</h2>
                    <div class="d-flex justify-content-center flex-wrap gap-2 gap-md-0">
                        <!-- Badge showing the character's rarity and power total -->
                        <span class="badge bg-primary me-sm-3">{{ char.rarity }} {{ power }}</span>
                    </div>
                </div>
                 <!-- Card footer only shows if logged in. Contains a buy and cancel button.  -->
                {% if user.is_authenticated %}
                <div class="card-footer d-flex gap-3 justify-content-center">
                    <a href="#" class="btn buy-button cancel"><span class="unskew">Cancel</span></a>
                    <!-- Form that leads to a checkout session with Stripe -->
                    <form action="{% url 'create-checkout-session' char.id %}" method="post">
                    {% csrf_token %}
                    <button class="btn buy-button" type="submit"><span class="unskew">Buy now</span></button>
                    </form>
                </div>
                {% else %}
                {% endif %}
            </div>
        </div>

    </div>
</section>
{% endblock content %}