<!--
This template renders the main shop page for the application.

It displays all characters currently available for sale based on
the active shop schedules. Each character is presented as a card with:

- Character image loaded from the legends.json file.
- Character name from the CharacterCard model.
- Total power displayed as a badge.
- Responsive grid layout adapting to mobile, tablet, and desktop.
-->

{% extends "base.html" %}
{% load static %}
<!-- Dynamically sets the page title -->
{% block title %}
Duality: Shop
{% endblock %}
<!-- GSAP and plugins for animating hero poem text with ScrollTrigger and SplitText -->
{% block extra_js %}
<script src="{% static 'js/shop-script.js' %}"></script>
{% endblock %}
{% block content %}
<section id="shop-section" class="container mb-5 pb-4">
    <!-- Centered Title and description of the shop -->
    <div class="row ms-xxl-6 ps-xxl-0 me-xxl-6 mb-2">
        <div class="col-md-8 col-xl-6 text-center mx-auto mt-3 mt-md-5 mt-xl-4 mt-xxl-5">
            <h2>Shop Heading</h2>
                <p>Shop description detail</p>
        </div>
    </div>
    <div class="col d-flex justify-content-center">
        <!-- Loader element shown while shop content is loading-->
        <div class="loader"></div>
    </div>
    <!-- Shop items grid with responsive layout at different screen sizes. -->
    <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3 ms-xxl-6 me-xxl-6">
        <!-- Loop through all characters passed by the view -->
        {% for char in characters  %}
        <div class="col ps-sm-6 ps-md-3 ps-lg-6 ps-xl-4 me-sm-0 pe-sm-5 pe-md-3 d-flex justify-content-center">
            <!-- Individual shop cards for each character -->
            <div class="card shop-card">
                <!-- Character image dynamically loaded from the legends.json file -->
                <img class="object-fit-cover card-img-top w-100 d-block" style="height: 400px;"
                    src="{{char.json.images.lg}}" width="334" height="200" alt="{{char.model.name}}">
                <div class="card-body p-4">
                    <!-- Character name passed from the character model -->
                    <h2 class="text-center card-title">{{char.model.name}}</h2>
                    <div class="d-flex justify-content-center flex-wrap gap-2 gap-md-0">
                        <!-- Badge showing the character's power total -->
                        <span class="badge bg-primary me-sm-3">{{char.model.rarity}} {{char.power}}</span>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>


</section>
{% endblock content %}