{% extends "base.html" %}
{% load static %}
<!-- Dynamically sets the page title -->
{% block title %}Purchase Successful!{% endblock title %}
{% block content %}
    <section class="mt-4 mb-4 mx-auto p-md-4">
        <div class="glassmorphic p-5 pt-4 pb-4">
            <h2 class="mb-4">Success!</h2>
                <p class="mb-4">Payment successfully made, {{ display_name }}.<br>An email has been sent to <b>{{ customer_email }}</b> with details of your purchase.</p> 
                {% for purchase in purchases %}
                <p><b>Order Reference:</b> {{ purchase.order_reference }}</p>
                <p><b>Character ID:</b> {{ purchase.character_id }}</p>
                <p><b>Character Name:</b> {{ purchase.character_name }}</p>
                <p><b>Purchase Price:</b> £{{ purchase.price }}</p>
                {% endfor %}
        </div>

    </section>
{% endblock content %}